In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataSet = pd.read_csv("Social_Network_Ads.csv")
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    float64
 3   EstimatedSalary  400 non-null    float64
 4   Purchased        400 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 15.8+ KB

In [3]:
# cheack nan
dataSet.isna().any()

User ID            False
Gender             False
Age                False
EstimatedSalary    False
Purchased          False
dtype: bool

In [4]:
# get_dummies
dataSet = pd.get_dummies(dataSet)

dataSet = dataSet.drop(columns=["User ID"])
dataSet

      Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0    19.0          19000.0          0              0            1
1    35.0          20000.0          0              0            1
2    26.0          43000.0          0              1            0
3    27.0          57000.0          0              1            0
4    19.0          76000.0          0              0            1
..    ...              ...        ...            ...          ...
395  46.0          41000.0          1              1            0
396  51.0          23000.0          1              0            1
397  50.0          20000.0          1              1            0
398  36.0          33000.0          0              0            1
399  49.0          36000.0          1              1            0

[400 rows x 5 columns]

In [8]:
# spilit Independent Variable and dependent Variable
IndependentV = dataSet.drop(columns=["Purchased"]).values
dependentV = dataSet["Purchased"].values

In [9]:
# Featrue Scaling
from sklearn.preprocessing import StandardScaler
stdScaler = StandardScaler()
IndependentV = stdScaler.fit_transform(IndependentV)

In [8]:
from sklearn.model_selection import train_test_split
IndependentV_train, IndependentV_test, dependentV_train, dependentV_test = train_test_split(IndependentV, dependentV, test_size=0.2, random_state=0)

# Navie Bayes

In [9]:
from sklearn.naive_bayes import GaussianNB
NB_model = GaussianNB()

# train 
NB_model.fit(IndependentV_train, dependentV_train)

predict = NB_model.predict(IndependentV_test)

In [35]:
from sklearn.metrics import confusion_matrix
conM = confusion_matrix(dependentV_test, predict)
print(conM)

array([[56,  2],
       [ 4, 18]], dtype=int64)