# KNN
KNN (K-Nearest Neighbors) algorithm

一般常見的補值方式 : mean, mode, median</br>
而KNN補值法則是使用 K個與缺失資料最相近的點(neighbor)來決定自己的缺失資料。

## missing  Values Patterns

1. MCAR (Missing Completely at random)</br>
the missing value doesn't depend on any other Variable

2. MAR (Missing at Random)</br>
the probability of missing value depends on the characteristics of observable data

3. MNAR (Missing not at random)</br>
missing values depend on both characteristics of the data and also on missing values.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

In [34]:
dataSet = pd.read_csv("Customers.csv")
dataSet.head(5)

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19.0,15000.0,39,Healthcare,1,4
1,2,Male,21.0,35000.0,81,Engineer,3,3
2,3,Female,20.0,86000.0,6,Engineer,1,1
3,4,Female,23.0,59000.0,77,Lawyer,0,2
4,5,Female,31.0,38000.0,40,Entertainment,2,6

In [42]:
# show missing value 
nan_index = np.where(dataSet[dataSet.columns].isna())[0]
dataSet.iloc[nan_index, :]

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
10,11,Male,67.0,NaN,14,Engineer,1,3
21,22,Male,NaN,4000.0,73,Healthcare,3,4
30,31,Male,60.0,39000.0,4,NaN,0,3
79,80,Female,49.0,98000.0,42,NaN,1,1
113,114,Male,19.0,NaN,46,Artist,1,1
118,119,Female,51.0,84000.0,43,NaN,2,7
176,177,Male,58.0,29000.0,15,NaN,11,1
202,203,NaN,16.0,60000.0,0,Engineer,6,8
219,220,Female,59.0,76000.0,61,NaN,9,1
237,238,Male,95.0,36000.0,35,NaN,0,4
437,438,Male,76.0,136259.0,14,NaN,0,7
440,441,Female,0.0,57373.0,29,NaN,0,7
498,499,Male,95.0,121725.0,3,NaN,12,3
545,546,Female,89.0,107359.0,26,NaN,10,6
601,602,Male,61.0,126370.0,20,NaN,11,4
641,642,Male,66.0,121377.0,19,NaN,7,7
665,666,Male,28.0,101414.0,64,NaN,8,1
703,704,Male,22.0,114011.0,40,NaN,5,7
801,802,Male,81.0,148208.0,36,NaN,5,7
817,818,Female,91.0,154456.0,71,NaN,0,7
850,851,Male,69.0,186655.0,32,NaN,7,2
903,904,Female,15.0,174501.0,37,NaN,9,7
927,928,Male,25.0,81367.0,87,NaN,0,3
1009,1010,Male,69.0,61637.0,67,NaN,0,5
1067,1068,Female,30.0,78821.0,46,NaN,1,4
1088,1089,Female,10.0,162076.0,78,NaN,0,3
1092,1093,Male,87.0,141383.0,3,NaN,7,5
1188,1189,Female,99.0,122548.0,14,NaN,2,5
1223,1224,Male,74.0,184838.0,18,NaN,8,5
1316,1317,Female,33.0,109396.0,17,NaN,1,2
1334,1335,Male,42.0,94844.0,64,NaN,7,6
1384,1385,Female,50.0,104467.0,72,NaN,5,1
1417,1418,Female,1.0,138656.0,27,NaN,3,4
1483,1484,Female,19.0,147052.0,86,NaN,9,4
1506,1507,Female,9.0,173233.0,18,NaN,5,1
1625,1626,Female,78.0,130706.0,72,NaN,3,6
1634,1635,Male,73.0,97455.0,55,NaN,6,4
1788,1789,Female,58.0,51416.0,46,NaN,7,5
1884,1885,Female,63.0,155638.0,81,NaN,1,4
1905,1906,Female,52.0,164038.0,53,NaN,5,4
1932,1933,Female,23.0,59905.0,79,NaN,7,5

In [45]:
from sklearn.impute import KNNImputer
knnimputer = KNNImputer()